
h1{

  font-size: 2em;
  text-align: center;
  line-height: 2;
  margin-top: 10px;
  color: #2f292a; 
}
main{
  max-width: 100%;
}

header{
  background: #fff;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: auto;
  flex-shrink: 3;

}
#headers{
  background-color: #efcaca; 
  
}

/* skip to main content */

.skip a{
  background: white;
  left: 0;
  padding: 7px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: relative;
  top: -50px;
  /*Your code here*/
}
.skip a:focus{
  position: relative;
  top: 10px;
}

.nav_links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  white-space: nowrap;
  flex-shrink: 3;
  font-size: 12px;
  margin-bottom: 10px; 
   
  
}
a.link{
  display: block;
  margin-top: 10px;
  text-align: left;
  text-decoration: none; 
  
}
a:link{
  color: black;
}

a:hover {
  color: blue;
}

a:visited{
  color: black; 
}

.nav_item{
  
  text-decoration: none; 
  margin: 8px;
}

/* indicate what page user is on */

.active{
  font-weight: bold; 
  text-transform: uppercase; 
  
}

body{
  margin: 0;
  padding: 0;
  font-size: 16pt; 
  font-family: 'Raleway', sans-serif;
  display: flex; 
  flex-direction: column;
  
  
  
}

/* about me flex */

#about{
  background-color: #f6f1e2; 
  
}


.contain{
margin: 30px;
align-items: center;
flex-wrap: wrap;
justify-content: center;
border: 1px black;

}

/* bio text */


.ex2{
order: 2; 
margin-right: auto;
margin-left: auto;
font-size: 20px;

color: #2f292a; 
opacity: 0.9; 
border-style: ridge;   
font-family: Arial, Helvetica, sans-serif; 
width: 80%;
padding: 10px 10px 10px 10px;
text-align: center; 


}

/* profile picture */

.profile{
order: 1; 
flex-basis: auto;
margin: 10px 40px 40px 5px;
width: 100%;
height: 100%


}


p.ex1{
padding: 20px;
font-size: 14px;
color: rgb(37, 37, 37);
}

/* photography grid */


.container{
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 10px;
}


/* photography page images */

#phototitle{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 30px; 

}
#subtitle{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 12px; 
  text-align: center;
}

.caption{
  position: relative;
  text-align: center;
  color:black;
}

img{
  position: relative; 
  width: 95%;
  /*filter: grayscale(0.90);*/
  padding: 5px;
  transition-property:filter;
  transition-duration: 0.25s;
  
}

img:hover {
  filter: grayscale(0);
  opacity: 0.4;
  border:2px solid grey;


}
.caption:hover{
  cursor: pointer;
 }
 
 .caption:hover div{
  visibility: visible;
  opacity: 0.7; 
 }

.centered{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px; 
  border: solid black; 
}



/* work.html*/

#title{
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 15px;
  font-weight: bold;
  text-align: center;

}
.cheps_pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%; 
}
.bluelab_pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%; 
}
.yang_pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 40%; 
}

#cheps_description{
  width: 70%;
  margin: 40px;
  padding: 20px;
  font-size: 14px;
  
  border: solid black; 
}
#bluelab_description{
  width: 70%;
  margin: 40px;
  padding: 20px;
  font-size: 14px;
  
  border: solid black; 
}
#yang_description{
  width: 70%;
  margin: 40px;
  padding: 20px;
  font-size: 14px;
  
  border: solid black; 
}


/* styling contact page*/

#typewriter{
  background-image: url("../imgs/contact_background.jpg");
  
  background-size: cover ;
  background-position: left;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  

}

/* form on contact page*/

.contact{
display: inline-block;


}

.con{
margin-right: 10px;
margin-left: 20px;
margin-top: 100px;
margin-bottom: 100px; 
align-items: center;
flex-wrap: wrap;
justify-content: center;
}

form {
border: 3px solid #f1f1f1;
width: 400%;
margin: 10px 10px 10px 0px;
background-image: url("../imgs/paper2.jpg"); 
background-size: cover; 
}
*.focus{
BORDER: 10px red; 
}

legend{ 
font-size: 110%;
color:black; 
font-family: 'Special Elite', cursive;
text-align: center;
padding: 20px 20px 20px 20px;
}


label{
display: inline-block;
margin-left: 30px; 
margin-bottom: 60px; 
margin-top: 10px; 
width: 20%;
font-size: 12px; 
font-family: 'Special Elite', cursive;
}


input {
width: 50%;
padding: 10px;
margin-right: auto;
margin-left: auto; 
margin-bottom: 10px; 
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

input[type=submit] {
display: block; 
background-color: black; 
color: white;
cursor: pointer;
width: 38%;
padding: 10px 20px;
margin-right: auto;
margin-left: auto;
margin-top: 10px; 
}

.cont{
margin: auto;
}



input[type=submit]:hover {
opacity: 0.8;
}

textarea{
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  column-count: initial !important;
  margin-top: 10px;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 10px;
  height: 150px;
  margin-right: 5px; 
  

}

footer{
  padding: 20px;
  border-top: solid black;
  background-color: #88a3a9;
  font-size: 12px;
  color: white; 
  margin-top: 100px;
  position: relative; 
  

}

#feet{
  display: flex;
 
  flex-direction: row;
  text-align: center;
  justify-content: center;  


}

#foot{
  margin-right: 10px;
  list-style-type: none;
 }


.im{
width: 30%;
display:inline-block;

}

.forms{
display: inline-block;
width: 30%; 
}

@media all and (min-width: 768px){
  
 /* header*/
 
 h1{
   margin-top: 50px;
 }

.nav_links{
  font-size: 18px;
}


.profile{
  width: 80%;
  margin: 10px 10px 10px 50px;
}

.contain{
 margin: 50px;
}
/* bio text*/

.ex2{
  width: 80%;
  margin-bottom: 25px;
  
  }

/* work text*/
.cheps_pic{
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 100px; 
  float: left; 
  width: 20%; 
  height: 15%;  
}
.bluelab_pic{
  margin-top: 80px;
  margin-left: 40px;
  float: left; 
  width: 20%; 
  height: 15%;  
}
.yang_pic{
  margin-top: 160px;
  margin-left: 40px;
  float: left; 
  width: 20%; 
  height: 15%;  
}

#cheps_description{
  width: 55%;
  float: right; 
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  font-size: 18px;
}
#bluelab_description{
  width: 55%;
  float: right; 
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  font-size: 18px;
}
#yang_description{
  width: 55%;
  float: right; 
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  font-size: 18px;
}
.cheps_pic2{
  margin-left: 10px;
}
#foot{

  font-size: 20px;
}
footer{
  margin-top: 200px;
  
  padding: 50px; 
  
}
/*contact form animation*/ 
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.contact{
  animation: bounceIn 0.5s;
}


.container{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 10px;
}
.forms{
  margin-left: 130px;
  margin-bottom: 70px;
  margin-top: 80px;
}

input[type=submit] {
  margin: 20px 20px 20px 95px; 
  width: 30%;
  }

textarea{
  width: 56%; 
}

}
@media all and (min-width: 1024px){

.nav_links{
  font-size: 20px; 
}
  

/*about me*/

/*background*/



/* profile pic*/

.profile{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px; 
  width: 50%; 
}
  
.ex2{

    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%; 
    margin-top: 50px; 
  
}

/*photography page*/
.container{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 10px;
}
/* work page*/

#title{
  margin-top: 100px; 
}
.total{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 50px;

}

.cheps_pic{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 40%;
  height: 60%; 
  margin-left: 100px; 
  margin-top: 50px; 
  margin-bottom: 0px;
}
.bluelab_pic{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 50%;
  height: 60%; 
  margin-top: 50px; 
  margin-left: 100px; 
}
.yang_pic{
  display: grid; 
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  width: 60%;
  height: 30%;
  
  margin-top: 60px; 
  margin-left: 100px; 

}
#cheps_description{

  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 20px;
  font-size: 18px;
  width: auto;
  height: auto; 
  
  border: solid black; 
}
#bluelab_description{
  padding: 20px;
  font-size: 18px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  width: auto;
  height: auto; 
  
  border: solid black; 
}
#yang_description{

  padding: 20px;
  font-size: 18px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  width: auto;
  height: auto; 
  
  border: solid black; 
}

/* contact page*/
.contact{
  float: left; 
  margin-left: auto;
  margin-right: auto;
  width: 30%; 

}

input[type=submit] {
  width: 20%;
  margin-left: 117px; 
  }

#foot{

  font-size: 20px;
}

footer{
  padding: 50px; 
  margin-top: 200px;
}



}

@media screen and ( prefers-reduced-motion: reduced){
  .contact{
    animation: dissolve; 
  }
  #typewriter{
    background-attachment: scroll;
  }
}
