
h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
    margin: 20px;
  }

  header{
    background: #fff;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: auto;
    flex-shrink: 3;
    
  
  }

  .nav_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    white-space: nowrap;
    flex-shrink: 3;
    font-size: 12px;
    
    
  }
  a.link{
    display: block;
    margin-top: 10px;
    text-align: left;

  }

  .nav_item{

    margin: 8px;
  }

  /* indicate what page user is on */

  .active{
    text-decoration: underline overline #a18765;
    text-transform: uppercase; 
    
  }

  body{
    margin: 0;
    padding: 0;
    font-size: 16pt; 
    font-family: 'Raleway', sans-serif;
    display: flex; 
    flex-direction: column;
    
    
  }

  /* about me flex */


.contain{
  margin: 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px black;
}

/* bio text */


p.ex2{
  order: 2; 
  border: 1px black;
  padding: 20px;
  font-size: 14px;
  color: rgb(37, 37, 37);
  

}

/* profile picture */

.profile{
  order: 1; 
  flex-basis: auto;

}


p.ex1{
  border: 3px black;
  padding: 20px;
  font-size: 14px;
  color: rgb(37, 37, 37);
}

  /* photography grid */


.container{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 10px;
}


/* photography page images */


img{
    width: 95%;
    /*filter: grayscale(0.90);*/
    padding: 5px;
    transition-property:filter;
    transition-duration: 0.25s;
}

img:hover{
    filter: grayscale(0);
    border:2px solid grey;
}

/* form on contact page*/

.contact{
  display: inline-block;
  
}

.con{
  margin: 50px 400px 10px 50px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  border: 3px solid #f1f1f1;
}
*.focus{
  BORDER: 10px red; 
}

legend{ 
  font-size: 110%;
  font-style:italic;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 20px 20px 20px;
}


label{
  display: inline-block;
  margin: 10px; 
  width:15%;

}
input {
  width: 40%;
  padding: 12px 20px 20px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #38803C;
  color: white;
  cursor: pointer;
  width: 30%;
  padding: 12px 20px;
  margin: 20px 20px 20px 70px; 
}

.cont{
  margin: auto;
}

input[type=submit]:hover {
  opacity: 0.8;
}

.message{
  display: inline-block;
  margin: 20px 0;
  width:15%;

}

footer{
    padding: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    border-top: black;
    background-color: #e6ccaa;
    font-size: 12px;
    flex-shrink: 0;
    margin-top: 100px;

  }
.foot{
    margin-right: 10px;
    list-style-type: none;
}

@keyframes slidein{
    from{
        left: - 1000px
    }
    to{
        left: 0;
    }
}
